.form{
    width: 100%;
    margin: 2em 0;
} 

.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.form_control label {
    margin-bottom: 0.6em;
    font-weight: bold;
}
.form_control input {
    padding: 0.7em;
    border-radius: 0;
    border: none;
} 
.form_control textarea {
    padding: 10px;
}

.form_control input::placeholder {
color: #7b7b7b;
}



.select_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.select_control label {
    margin-bottom: 0.6em;
    font-weight: bold;
}
.select_control select {
    padding: 0.7em;
    border-radius: 0;
    border: none;
}
.select_control option{
    color: black;
    
} 


.submit_btn {
    background-color: #222;
    color: #fff;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
    border: none;
 }
 
 .submit_btn:hover{
     color: #fb3;
     transform: scale(1.1);
     
 }